* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 5433px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_4 {
  width: 100%;
  height: 66px;
  background: rgba(73,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_5 {
  width: 100%;
  height: 134px;
  background: rgba(123,0,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
}
.v4_8 {
  width: 98px;
  height: 90px;
  background: url("../images/v4_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 17px;
  overflow: hidden;
}
.v4_9 {
  width: 195px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 91px;
  left: 138px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_10 {
  width: 237px;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 11px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v4_12 {
  width: 139px;
  height: 67px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 721px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v4_11 {
  width: 454px;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 267px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
}
.v4_13 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 37px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_6 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1196px;
  left: 245px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v7_2 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2649px;
  left: 262px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v7_221 {
  width: 329px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4075px;
  left: 192px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v8_7 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1595px;
  left: 107px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_112 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2997px;
  left: 91px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_88 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2041px;
  left: 127px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_113 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3443px;
  left: 96px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_124 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2463px;
  left: 128px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_114 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3865px;
  left: 116px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_28 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1595px;
  left: 725px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_115 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2997px;
  left: 715px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_89 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2041px;
  left: 745px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_116 {
  width: 66px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3443px;
  left: 735px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_125 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2463px;
  left: 742px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_117 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3865px;
  left: 732px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_40 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1595px;
  left: 307px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_118 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2997px;
  left: 287px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_90 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2045px;
  left: 318px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_119 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3447px;
  left: 298px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_126 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2463px;
  left: 320px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_120 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3865px;
  left: 301px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_10 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1643px;
  left: 154px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_121 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3045px;
  left: 138px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_91 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2090px;
  left: 176px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_122 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3492px;
  left: 177px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_127 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2512px;
  left: 166px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_123 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3914px;
  left: 142px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_29 {
  width: 230px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1644px;
  left: 663px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_124 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3046px;
  left: 697px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_92 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2092px;
  left: 707px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_125 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3494px;
  left: 685px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_128 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2512px;
  left: 699px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_126 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3914px;
  left: 689px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_41 {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1646px;
  left: 266px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_127 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3048px;
  left: 247px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_93 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2092px;
  left: 283px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_128 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3494px;
  left: 268px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_129 {
  width: 260px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2512px;
  left: 228px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_129 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3914px;
  left: 258px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_13 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1697px;
  left: 179px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_130 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3099px;
  left: 117px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_94 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2143px;
  left: 179px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_131 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3545px;
  left: 117px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_130 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2565px;
  left: 179px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_132 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3967px;
  left: 117px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_30 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1697px;
  left: 670px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_133 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3099px;
  left: 714px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_95 {
  width: 246px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2143px;
  left: 670px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_134 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3545px;
  left: 708px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_131 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2565px;
  left: 670px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_135 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3967px;
  left: 714px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_42 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1697px;
  left: 245px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_136 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3099px;
  left: 285px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_96 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2143px;
  left: 245px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_137 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3545px;
  left: 285px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_132 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2565px;
  left: 245px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_138 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3967px;
  left: 285px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_15 {
  width: 187px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 246px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_24 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 108px;
  left: 960px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_14 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 107px;
  left: 297px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v4_28 {
  width: 100%;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 958px;
  left: 4px;
  border: 1px solid rgba(0,0,0,0.25);
  overflow: hidden;
}
.v4_27 {
  width: 100%;
  height: 765px;
  background: rgba(129,19,19,1);
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 1px;
  overflow: hidden;
}
.v4_29 {
  width: 457px;
  height: 670px;
  background: url("../images/v4_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 573px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v8_2 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1340px;
  left: 118px;
  overflow: hidden;
}
.v7_139 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2742px;
  left: 118px;
  overflow: hidden;
}
.v8_97 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 118px;
  overflow: hidden;
}
.v7_140 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3188px;
  left: 118px;
  overflow: hidden;
}
.v8_133 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2208px;
  left: 118px;
  overflow: hidden;
}
.v7_141 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3610px;
  left: 118px;
  overflow: hidden;
}
.v8_31 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1340px;
  left: 603px;
  overflow: hidden;
}
.v7_142 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2742px;
  left: 603px;
  overflow: hidden;
}
.v8_98 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 603px;
  overflow: hidden;
}
.v7_143 {
  width: 335px;
  height: 241px;
  background: url("../images/v7_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3190px;
  left: 603px;
  overflow: hidden;
}
.v8_134 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2208px;
  left: 603px;
  overflow: hidden;
}
.v7_144 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3610px;
  left: 603px;
  overflow: hidden;
}
.v8_43 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1340px;
  left: 178px;
  overflow: hidden;
}
.v7_145 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2742px;
  left: 178px;
  overflow: hidden;
}
.v8_99 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 178px;
  overflow: hidden;
}
.v7_146 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3188px;
  left: 178px;
  overflow: hidden;
}
.v8_135 {
  width: 355px;
  height: 243px;
  background: url("../images/v8_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2208px;
  left: 178px;
  overflow: hidden;
}
.v7_147 {
  width: 355px;
  height: 243px;
  background: url("../images/v7_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3610px;
  left: 178px;
  overflow: hidden;
}
.v8_17 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1340px;
  left: 127px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_100 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 127px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_136 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2208px;
  left: 127px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_32 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1340px;
  left: 612px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_101 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 612px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_137 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2208px;
  left: 612px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_44 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1340px;
  left: 187px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_102 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 187px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_138 {
  width: 117px;
  height: 35px;
  background: rgba(74,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2208px;
  left: 187px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_18 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1346px;
  left: 138px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_103 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1792px;
  left: 138px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_139 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2214px;
  left: 138px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_33 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1346px;
  left: 623px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_104 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1792px;
  left: 623px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_140 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2214px;
  left: 623px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_45 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1346px;
  left: 198px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_105 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1792px;
  left: 198px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_141 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2214px;
  left: 198px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v8_160 {
  width: 100%;
  height: 995px;
  background: url("../images/v8_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 9px;
  overflow: hidden;
}
.v8_161 {
  width: 313px;
  height: 714px;
  background: rgba(120,2,2,1);
  opacity: 1;
  position: absolute;
  top: 209px;
  left: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v8_162 {
  width: 278px;
  color: url("../images/v8_162.png");
  position: absolute;
  top: 226px;
  left: 37px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Tilt Warp;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v7_222 {
  width: 300px;
  height: 227px;
  background: url("../images/v7_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4189px;
  left: 20px;
  overflow: hidden;
}
.v7_226 {
  width: 300px;
  height: 227px;
  background: url("../images/v7_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4189px;
  left: 23px;
  overflow: hidden;
}
.v7_227 {
  width: 300px;
  height: 227px;
  background: url("../images/v7_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4189px;
  left: 389px;
  overflow: hidden;
}
.v7_228 {
  width: 300px;
  height: 227px;
  background: url("../images/v7_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4189px;
  left: 756px;
  overflow: hidden;
}
.v7_229 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4436px;
  left: 40px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v7_230 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4436px;
  left: 18px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v7_231 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4436px;
  left: 395px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v7_233 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4436px;
  left: 759px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v8_175 {
  width: 372px;
  color: url("../images/v8_175.png");
  position: absolute;
  top: 705px;
  left: 616px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v8_179 {
  width: 327px;
  height: 125px;
  background: url("../images/v8_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 631px;
  box-shadow: -6px 6px 4px rgba(1, 1, 1, 1);
  overflow: hidden;
}
.v9_2 {
  width: 275px;
  color: url("../images/v9_2.png");
  position: absolute;
  top: 406px;
  left: 38px;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.v7_235 {
  width: 100%;
  height: 690px;
  background: rgba(23,99,87,1);
  opacity: 1;
  position: absolute;
  top: 4743px;
  left: 0px;
  overflow: hidden;
}
.v7_239 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4799px;
  left: 769px;
  opacity: 1;
  text-align: left;
}
.v7_238 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4799px;
  left: 355px;
  opacity: 1;
  text-align: left;
}
.v7_237 {
  width: 328px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4806px;
  left: 82px;
  opacity: 1;
  text-align: left;
}
.v9_4 {
  width: 169px;
  height: 64px;
  background: url("../images/v9_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5331px;
  left: 690px;
  overflow: hidden;
}
.v9_5 {
  width: 138px;
  height: 69px;
  background: url("../images/v9_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5326px;
  left: 895px;
  overflow: hidden;
}
.v7_240 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1042px;
  left: 37px;
  overflow: hidden;
}
.v7_241 {
  width: 141px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1007px;
  left: 84px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_257 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1007px;
  left: 31px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_267 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1083px;
  left: 31px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_269 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1083px;
  left: 187px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_271 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1083px;
  left: 405px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_273 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1083px;
  left: 612px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_275 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1083px;
  left: 830px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_259 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1007px;
  left: 187px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_261 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1005px;
  left: 405px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_263 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1005px;
  left: 612px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v7_265 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1005px;
  left: 830px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v9_6 {
  width: 225px;
  height: 207px;
  background: url("../images/v9_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5108px;
  left: 756px;
  overflow: hidden;
}
.v7_243 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1009px;
  left: 138px;
  overflow: hidden;
}
.v7_258 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1009px;
  left: 111px;
  overflow: hidden;
}
.v7_268 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1085px;
  left: 111px;
  overflow: hidden;
}
.v7_270 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1085px;
  left: 329px;
  overflow: hidden;
}
.v7_272 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1085px;
  left: 547px;
  overflow: hidden;
}
.v7_274 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1085px;
  left: 754px;
  overflow: hidden;
}
.v7_276 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1085px;
  left: 972px;
  overflow: hidden;
}
.v7_260 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1009px;
  left: 329px;
  overflow: hidden;
}
.v7_262 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1007px;
  left: 547px;
  overflow: hidden;
}
.v7_264 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1007px;
  left: 754px;
  overflow: hidden;
}
.v7_266 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1007px;
  left: 972px;
  overflow: hidden;
}
.v9_10 {
  width: 32px;
  height: 32px;
  background: url("../images/v9_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 195px;
  overflow: hidden;
}
.v7_278 {
  width: 89px;
  height: 2px;
  background: url("../images/v7_278.png");
  opacity: 1;
  position: absolute;
  top: 1017px;
  left: 69px;
  border: 1px solid rgba(229,217,217,1);
}
